.container {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  width: fit-content;
  text-align: center;
  color: white;
  padding 15px;
  border-radius: 5px;
}

.table {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.score-input {
  max-width: fit-content;
}

#title {
  color: #e85e26;
}
