<!doctype html>
<html lang="en" id="whole-page">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>R7 Pool Scores</title>
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.21.7/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.7/dist/js/uikit-icons.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='Scores.css') }}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    </style>
  </head>
  <body>
    <div class="container">
      <h1 id="title">Pool Scores</h1>
      <table class="table uk-table">
        <thead>
          <tr>
            <th>Bean</th>
            <th>Chipper</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for score in scores %}
          <tr id="control-row">
            <form action="/delete/{{ score.id }}" method="POST">
              <td>{{ score.Ronan }}</td>
              <td>{{ score.Glenn }}</td>
              <td>
                <button
                  type="submit"
                  class="uk-button-danger uk-icon-button"
                  uk-icon="trash"
                />
              </td>
            </form>
          </tr>
          {% endfor %}
          <tr>
            <td>{{ total_count.ronan }}</td>
            <td>{{ total_count.glenn }}</td>
            <td><bold>Total</bold></td>
          </tr>
          <tr>
            <form action="." method="POST">
              <td>
                <input
                  name="Ronan"
                  class="score-input uk-input"
                  placeholder="Bean Score"
                  type="number"
                />
              </td>
              <td>
                <input
                  name="Glenn"
                  class="score-input uk-input"
                  placeholder="Glenn Score"
                  type="number"
                />
              </td>
              <td>
                <button
                  type="submit"
                  class="uk-button-success uk-icon-button"
                  uk-icon="check"
                />
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
